# SAS 해커톤에 쓰일 dummy data maker

In [2]:
import pandas as pd
import numpy as np
np.set_printoptions(threshold=10)
from faker import Faker
fake_ko = Faker('ko_KR')

import random
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from collections import defaultdict

from sklearn.cluster import DBSCAN
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

# 폰트 설정
from matplotlib import font_manager, rc
font_name = "Malgun Gothic"  # 나눔고딕 폰트 이름 (이미 설치되어 있다고 가정)

rc('font', family=font_name)
# 그래프에 마이너스 폰트 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

In [3]:
# 데이터는 총 num_samples 개
## 수급자
num_samples = 100007
## 부당비율 3% 가정
fraud_ratio = int(0.03 * num_samples)
## 종사자

## 기관

#### get data

In [9]:
## 주소 index 생성
address = pd.read_csv('./gps_data/merged_output.csv')

prs = pd.read_csv('./prs_dummy_data.csv')

with open('gps_noise.pkl', 'rb') as f:
    noise = pickle.load(f)

In [10]:
prs

,Unnamed: 0,ID,LTC_ID,NM,GRADE,BIRTHDAY_0,ADDRESS_SIDO_NM,ADDRESS_INDEX,GPS_BASE_X,GPS_BASE_Y
0,0,L160034205,3-86247-00028,김너주,3,1934-04-07,강원특별자치도,135415,128.023627,37.721240
1,1,L110018660,2-86247-00111,이터빌,3,1944-03-23,강원특별자치도,200593,128.020061,38.176570
2,2,L090088482,3-86247-00207,박돌보,3,1940-01-10,강원특별자치도,536,127.674917,37.838683
3,3,L210048725,3-86247-00034,류조산,5,1932-06-28,강원특별자치도,187512,127.404210,38.277389
4,4,L210051942,3-86247-00186,서춤논,4,1946-05-03,강원특별자치도,179318,128.702571,37.470652
...,...,...,...,...,...,...,...,...,...,...
99995,99995,L130031750,2-15591-00046,김놀펄,4,1951-05-24,충청북도,3554944,127.537532,36.659409
99996,99996,L180014004,2-11674-00561,최딩비,5,1945-05-31,충청북도,3645986,127.590550,36.973971
99997,99997,L080074648,3-15591-00056,김처두,1,1941-07-08,충청북도,3602226,128.205037,37.097820
99998,99998,L180046596,2-15591-00070,이훈시,5,1939-05-11,충청북도,3574815,127.834434,36.947349
99999,99999,L140085933,3-15591-00015,이톨핑,3,1932-05-11,충청북도,3624114,127.705558,36.513158

In [13]:
noise.shape, np.mean(noise)

((100000, 100, 2), -0.0005625673213484043)

100000